:root {
    --main-background: rgb(15 23 42);

    // Typo color
    --title-color: rgb(226, 232, 240);
    --body-color: rgb(148 163 184);
    --discrete-color: rgb(100, 116, 139);
    --electric-highlight: rgb(94 234 212);
}