:root {
    --main-background: 15 23 42;
    --fading-background: 255 255 255 / .03;

    // Typo color
    --base-opacity: 1;
    --title-color: 226 232 240;
    --body-color: 148 163 184;
    --discrete-color: 100 116 139;
    --electric-highlight: 94 234 212;
}