@use '../../css/css-tools/' as tools;

:host {
  display: inline-block;
}

.tag {
  &__container {
    border-radius: 9999px;
    padding: tools.layout-spacing(.5) tools.layout-spacing(2);
    margin: tools.layout-spacing(.75) tools.layout-spacing(.5) tools.layout-spacing(.75) 0;
    background-color: rgb(from var(--electric-highlight) r g b / 10%);

    color: var(--electric-highlight);
    font-size: .75rem;
    font-weight: 500;
  }
}