@use '../../shared/css/css-tools/' as tools;

.resume {
  display: flex;
  box-sizing: border-box;
  height: 100vh;
  padding: 6rem;
  column-gap: tools.layout-spacing(3);
  flex-direction: column;


  @include tools.cvv-media--gt-lg() {
    margin: 0 tools.layout-spacing(4);
  }


  @include tools.cvv-media--gt-md() {
    flex-direction: row;

    &__left-panel {
      height: 100%;
      width: 45%;
    }

    &__right-panel {
      height: 100%;
      width: 55%;
    }
  }


  &__left-panel {
    display: flex;
  }

  &__right-panel {
    display: flex;
  }

  &__cursor-halo {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
  }
}