@use '../../shared/css/css-tools/' as tools;

.resume {
  display: flex;
  box-sizing: border-box;
  height: 100vh;
  padding: 6rem;
  column-gap: tools.layout-spacing(3);



  &__left-panel {
    display: flex;
    height: 100%;
    width: 45%;
    // justify-content: stretch;
  }

  &__right-panel {
    display: flex;
    height: 100%;
    width: 55%;
    // justify-content: stretch;
  }
}