@use '../../shared/css/css-tools/' as tools;

.resume {
  display: flex;
  box-sizing: border-box;
  padding: tools.layout-spacing(15);
  padding-top: 0;
  column-gap: tools.layout-spacing(3);
  flex-direction: column;
  max-width: 1280px;
  margin: 0 auto;


  @include tools.cvv-media--gt-md() {
    flex-direction: row;

    &__left-panel {
      position: sticky;
      top: 0;
      height: 100%;
      width: 45%;
    }

    &__right-panel {
      height: 100%;
      width: 55%;
    }
  }


  &__left-panel {
    display: flex;
    padding-top: tools.layout-spacing(15);
  }

  &__right-panel {
    display: flex;
    padding-top: tools.layout-spacing(15);
  }

  &__cursor-halo {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
  }
}