@use '../../../../shared/css/css-tools' as tools;

:host {
    display: block;
    width: 100%;

    .main-intro {
        &__title {
            @include tools.cvv-media--gt-sm() {
                font-size: 3rem;
            }
        }
    }
}